/.gradle/
/.idea/
/build/
/petpartners-ui-ppi/build/
/petpartners-ui-orca/build/
/petpartners-common/build/
/petpartners-ui-akc/build/
/petpartners-api-quote/build/
/petpartners-api-pet/build/
/gradlew
/gradlew.bat
/.idea/
/.gradle/
/gradle/
/petpartners-api/out/
/petpartners-api/build/
/petpartners-ui-akc/build/
/petpartners-ui-akc/out/
/petpartners-ui-orca/out/
/petpartners-ui-ppi/build/
/petpartners-ui-ppi/out/
/petpartners-common/out/
/petpartners-ui-paw-some/build/
/petpartners-ui-paw-some/build/
/petpartners-ui-paw-some/build/classes/

/petpartners-ui-petcloud/build/
